/* 1. typography */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Orbitron&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #65747e;
    background-image: url(img/background-green.jpg);
}

#calculator {
    background-color: #2e4450;
    box-shadow: 5px 5px 8px 0 rgb(59, 87, 102);
}

/* 2. display styling */
#display {
    font-family: 'Orbitron', sans-serif;
    border-style: inset;
    border-color: #2e4450;
    border-top-width: 3px;
}

#output, #input {
    width: 235px;
    padding-left: 5px;
    border-style: inset;
    border-width: 1px;
    border-color: #2e4450;
    background-color: #f3f3f3;
    overflow-wrap: break-word;
}

#output {
    font-size: 20px;
}

#input {
    color: rgb(88, 88, 88);
}

/* 3. button styling */
button {
    width: 75px;
    height: 50px;
    background-color: #2e4450;
    border-color: #46687a;
    text-align: center;
    color: #bdbdbd;
    font-family: 'Itim', cursive;
    font-size: 20px;
}

.operator, #dot {
    color: #00EAFF;
}
 
 #backspace, #equals {
    color: #FFA200;
}

#clear {
    color: #FF530D;
}

.number:hover, #zero:hover{
    color: #FFF !important;
    border-color: #FFF;
}

.operator:hover, #dot:hover{
    border-color: #00EAFF;
}

#clear:hover {
    border-color: #FF530D;  
}

#backspace:hover, #equals:hover{
    border-color: #FFA200;
}

/* 3. footer text s*/
p {
    padding-top: 50px;
    color: #FFF;
    font-size: 14px;
    font-family: 'Itim', cursive;
}

