body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(225, 225, 225);
}

button {
    width: 75px;
    height: 50px;
    text-align: center;
}


p {
    padding-top: 50px;
    font-size: 10px;
}

#output, #input {
    max-width: 235.15px;
    overflow-wrap: break-word;
}


